/* Force full width & height. */
html, body, .viewport {
  width: 100%;
  height: 100%;
}

/* Flexbox */
.container {
  display: flex;
  height: 100%;
}

/* Left column (menu) */
.menu {
  flex: 250px;
  height: 100%;
  padding: 15px 0;
}

/* Right column (page content) */
.content {
  flex: calc(100% - 250px);
  padding: 15px;
}
#content_frame {
  height: 100%;
  width: 100%;
  border: "1px solid gray";
} /* TODO: This CSS does not apply to iFrame for unknown reason */

/* Title and logo */
.title {
  font-family: "Arial";
  font-size: 22px;
}
.logo {
  width: 100%;
}

/* Search box */
#menu_search {
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 90%;
}

/* Navigation menu */
#div_menu_items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
#div_menu_items input {
  background-color: #4CAF50;
  margin: 4px 0px;
  border: 1px solid green;
  border-radius: 6px;
  color: white; /* White text */
  font-size: 14px;
  padding: 10px 24px;
  cursor: pointer;
  width: 100%;
  display: block; /* Make the buttons appear below each other */
}
#div_menu_items input:hover {
  background-color: #006400;
}

table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
}