<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>General Status</title>
  <link rel="stylesheet" href="../static/css/element-ui.css">
</head>
<body>
  <h2>Service List</h2>
  <div id="service_list">
  <el-table :data="service_list" border stripe empty-text="no service available">
      <el-table-column prop="serviceId" label="Service ID" min-width="2"></el-table-column>
      <el-table-column prop="serviceName" label="Service Name" min-width="2"></el-table-column>
      <el-table-column prop="expTime" label="Expired Time" min-width="3"></el-table-column>
    </el-table>
  </div>

  {% if st_code %}
    <p>{{ st_code }} {{ st_text }}</p>
  {% endif %}
</body>
</html>

<script src="../static/scripts/vue.js"></script>
<script src="../static/scripts/element-ui.js"></script>
<script src="../static/scripts/axios.min.js"></script>
<script>
  new Vue({
    el:'#service_list',
    data(){
      return{
        service_list: {{service_list | tojson}}
      }
     }
  })
</script>
