<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>General Status</title>
  <link rel="stylesheet" href="../static/css/element-ui.css">
</head>
<body>
  <h2 id="title">IoT System Overview</h2>
  <div id="overview_table">
  <el-table :data="metainfo" style="width: 100%" border stripe>
      <el-table-column
        prop="information"
        label="Information">
      </el-table-column>
      <el-table-column
        prop="value"
        label="Value">
      </el-table-column>
  </el-table>
  </div>
</body>
</html>

<script src="../static/scripts/vue.js"></script>
<script src="../static/scripts/element-ui.js"></script>
<script src="../static/scripts/axios.min.js"></script>
<script>
  new Vue({
    el:'#overview_table',
    data(){
      return{
        metainfo:{{metainfo | tojson}},
      }
     }
  })
</script>