<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>General Status</title>
  <link rel="stylesheet" href="../static/css/element-ui.css">
</head>
<body>
  <h2>Approved Identity Bindings</h2>
  <div id="approved_bindings">
    <el-table :data="approved_bindings" border stripe empty-text="no approved identity bindings available">
      <el-table-column prop="bindingId" label="Binding ID" min-width="1"></el-table-column>
      <el-table-column prop="authMean" label="Authentication Mean" min-width="2"></el-table-column>
      <el-table-column prop="idenKey" label="Identity Key" min-width="2"></el-table-column>
      <el-table-column prop="idenValue" label="Identity Value" min-width="2"></el-table-column>
      <el-table-column prop="name" label="Name" min-width="2"></el-table-column>
      <el-table-column prop="expiresAt" label="Expires At (UTC)" min-width="2"></el-table-column>
    </el-table>
  </div>
</body>
</html>

<script src="../static/scripts/vue.js"></script>
<script src="../static/scripts/element-ui.js"></script>
<script src="../static/scripts/axios.min.js"></script>
<script>
  new Vue({
    el:'#approved_bindings',
    data(){
      return{
        approved_bindings: {{approved_bindings | tojson}}
      }
     }
  })
</script>
