<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/css/main.css">
  <script src="/static/scripts/index.js"></script>
</head>

<body>
  <div class="container">
    <div class="menu">
      <img class="logo" src="static/img/logo.png">
      <h2 class="title">NDNCERT CA</h2>
      <input type="text" id="menu_search" onkeyup="do_menu_search()" placeholder="Search ..." title="Type in a category">
      <div id="div_menu_items">
        <input type="button" value="System Overview" onclick="set_content('http://localhost:6060/system-overview')">
        <input type="button" value="Approved Requests" onclick="set_content('http://localhost:6060/approved-requests')">
        <input type="button" value="Rejected Requests" onclick="set_content('http://localhost:6060/rejected-requests')">
        <input type="button" value="Approved Identity Bindings" onclick="set_content('http://localhost:6060/approved-bindings')">
        <input type="button" value="Rejected Identity Bindings" onclick="set_content('http://localhost:6060/rejected-bindings')">
      </div>
    </div>

    <div class="content">
      <iframe id="content_frame" height="100%" width="100%" style="border:1px solid gray;" 
              src="http://localhost:6060/system-overview"></iframe>
    </div>
  </div>
</body>

</html>
