---
prefix_config:
  # the CA's identity prefix
  prefix_name: '{ca_prefix}'

tib_config:
  base_dir: '~/.ndn/tib/{zone_hex}/'

auth_config:
  possession:
      user_func: autopass

logging_config:
  # one of 'CRITICAL', 'ERROR', 'WARNING', 'INFO', 'DEBUG'
  level: 'INFO'
  # absolute path to log file. If not given, logs to stdout
  # file: 'ca.log'